---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About - kanoe.dev">
    <p class="my-4">
        都内のIT企業でWebエンジニアをやっています。<br>
        言語ではPHPが一番長く、他にRuby、Goを使って開発をしています。バックエンドの開発がメインですが、最近はフロントエンドの開発もしています。<br>
        AWSに乗っかっているサービスの運用、保守も行っているため、一通りのAWSの機能も触れます。<br>
        最近は開発以外で、テックリードで複数プロダクトの担当をしており、スクラムチームの牽引や運用体制の構築、メンバーの技術サポートの業務を行っています。<br>
        サービスを届けた側も、作る側も、どちらも幸せになるシステム作りをモットーに日々仕事をしています。
    </p>

    <p class="my-4">
        このブログでは主にプログラミングやインフラで試してみたこと、読んでみた本のこと等を書いています。<br>
        何かありましたら各種SNSからお気軽にご連絡頂ければと思います。
    </p>

    <ul class="list-disc pl-10">
        <li class="tw-ml-6"><a href="https://twitter.com/kanoe" target="_blank" class="text-cyan-600">Twitter</a></li>
        <li class="tw-ml-6"><a href="https://github.com/kanoemon" target="_blank" class="text-cyan-600">Github</a></li>
    </ul>
</Layout>
