---
import Layout from '../layouts/Layout.astro';
---

<Layout title="About - kanoe.dev" type="profile">
    <div class="py-16 text-center">
        <h1 class="text-5xl">About</h1>
    </div>
    <hr class="hr-primary">
    <p class="my-4">
        都内のIT企業でWebエンジニアをやっています。<br>
        言語ではPHPが一番長く、他にRuby、Goを使って開発をしています。バックエンドの開発がメインです。<br>
        テックリードとして複数プロダクトの担当をしており、スクラムチームの牽引や運用体制の構築、メンバーの技術サポートの業務を行っています。<br>
        サービスを届けた側も、作る側も、どちらも幸せになるシステム作りをモットーに日々仕事をしています。
    </p>

    <p class="my-4">
        このブログでは主にプログラミングやインフラで試してみたこと、読んでみた本のこと等を書いています。サイトのポリシーについては<a href="/privacy/">プライバシーポリシー</a>をご確認ください。<br>
        ご連絡の際は、各種SNSからお願いいたします。
        <ul class="list-disc pl-10">
            <li class="tw-ml-6"><a href="https://twitter.com/kanoe" target="_blank">Twitter</a></li>
            <li class="tw-ml-6"><a href="https://github.com/kanoemon" target="_blank">Github</a></li>
        </ul>
    </p>
</Layout>
