---
import Layout from '../layouts/Layout.astro';
import Article from '../components/Article.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
---

<Layout title="kanae.dev" type="website">
	<div class="py-16 text-center">
		<h1 class="text-5xl">Blog</h1>
	</div>
	<hr class="hr-primary">
	<div>
	{allPosts.map((post) => 
		<Article post={post} />
	)}
	</div>
</Layout>

<style>
</style>
