---
import Layout from '../layouts/Layout.astro';
import Article from '../components/Article.astro';

const allPosts = await Astro.glob('../pages/posts/*.md');
allPosts.sort((a, b) => Date.parse(b.frontmatter.pubDate) - Date.parse(a.frontmatter.pubDate));
---

<Layout title="kanae.dev" type="website">
	<div class="py-14">
		<div class="mb-6">
			<a href="/">
				<img src="https://pbs.twimg.com/profile_images/1488155897268346880/XzIlmFhW_400x400.jpg" width="150px" height="150px" class=" mx-auto rounded-full">
			</a>
		</div>
		<div class="text-center">
			<p class="text-3xl">Hi, I'm Kanae.</p>
			<p class="py-1.5">I'm a software engineer.</p>
		</div>
	</div>
	<hr class="hr-primary">
	<div>
		<p>
			"kanae.dev" is Kanae's personal website where she shares technical insights, book reviews, and thoughts on daily experiences. 
			For inquiries, please reach out through various social media platforms such as <a href="https://twitter.com/kanoe" target="_blank" class="">Twitter</a>.
		</p>
	</div>
	<hr class="hr-primary">
</Layout>

<style>
</style>
