---
import HeaderlineLayout from '../layouts/HeaderlineLayout.astro';
---

<HeaderlineLayout title="Privacy - kanoe.dev" type="website" headerline="Privacy">
    <h2 class="text-lg mb-4">Cookieの使用について</h2>
    <p class="my-4">
      当ブログでは、広告配信やアクセス解析のためにCookieを使用しています。<br>
      Cookieによりブラウザを識別していますが、特定の個人の識別はできない状態で匿名性が保たれています。<br>
      Cookieの使用を望まない場合、ブラウザからCookieを無効に設定できます。
    </p>

    <h2 class="text-lg mb-4">広告配信サービスについて</h2>
    <p class="my-4">
      当ブログでは、第三者配信の広告サービスを利用して広告を掲載しています。<br>
      第三者配信事業者は、ユーザーの興味に応じたパーソナライズ広告を表示するためにCookieを使用しています。<br>
      パーソナライズ広告は、<a href="https://www.google.com/settings/ads" target="_blank" class="text-cyan-600">広告設定</a>で無効にできます。また、<a href="http://www.aboutads.info/choices/" target="_blank" class="text-cyan-600">www.aboutads.info</a>で第三者配信事業者のCookieを無効にすることができます。<br>
      Amazonのアソシエイトとして、kanoe.devは適格販売により収入を得ています。<br>
    </p>

    <h2 class="text-lg mb-4">アクセス解析ツールについて</h2>
    <p class="my-4">
      当ブログでは、Googleアナリティクスによりアクセス情報を解析しています。<br>
      アクセス情報の解析にはCookieを使用しています。また、アクセス情報の収集はCookieを無効にすることで拒否できます。<br>
      Google社のデータ収集・処理の仕組みについては、<a href="http://www.google.com/intl/ja/policies/privacy/partners/" target="_blank" class="text-cyan-600">こちら</a>をご覧ください。
    </p>

    <h2 class="text-lg mb-4">著作権について</h2>
    <p class="my-4">
      当ブログに掲載されている文章・画像の著作権は、運営者に帰属しています。<br>
      法的に認められている引用の範囲を超えて、無断で転載することを禁止します。
    </p>
</HeaderlineLayout>
