<footer class="flex flex-col items-center mt-8 mb-4">
  <div>
    <ul class="flex mb-1 text-gray-500 text-2xl list-none">
      <li><a href=""><i class="fab fa-twitter"></i></a></li>
      <li><a href="" class="ml-4"><i class="fab fa-github"></i></a></li>
    </ul>
  </div>
  <p class="text-sm text-gray-500">© 2020-2022. kanae.dev</p>
</footer>
