<header>
    <div>
        kanae.dev
    </div>
    <nav>
        <ul>
            <li>Home</li>
            <li>About</li>
            <li>Blog</li>
            <li>Privacy</li>
        </ul>
    </nav>
    <div>
        <ul>
            <li><i class="fab fa-twitter"></i></li>
            <li><i class="fab fa-github"></i></li>
        </ul>
    </div>
</header>