<header class="py-9 text-center">
    <a href="/">
        <img src="https://pbs.twimg.com/profile_images/1488155897268346880/XzIlmFhW_400x400.jpg" width="60px" height="60px" class=" mx-auto rounded-full">
    </a>
</header>
