<header>
    <div class="container mx-auto max-w-3xl  flex justify-between py-5">
        <div class="my-5">
            <a href="/" class="text-3xl">kanae.dev</a>
        </div>
        <nav>
            <ul class="flex my-5">
                <li><a href="/" class="p-2">Home</a></li>
                <li><a href="/about/" class="p-2">About</a></li>
                <li><a href="/archives/" class="p-2">Archives</a></li>
                <li><a href="/tags/" class="p-2">Tags</a></li>
                <li><a href="/privacy/" class="p-2">Privacy</a></li>
            </ul>
        </nav>
    </div>
</header>