<header>
    <div class="container mx-auto flex justify-between px-5 lg:px-0 lg:py-5 lg:max-w-3xl">
        <button class="hidden"><i class="fa fa-bars" aria-hidden="true"></i></button>
        <nav class="hidden">
            <ul class="my-5 list-none">
                <li><a href="/" class="p-2">Home</a></li>
                <li><a href="/about/" class="p-2">About</a></li>
                <li><a href="/archives/" class="p-2">Archives</a></li>
                <li><a href="/tags/" class="p-2">Tags</a></li>
                <li><a href="/privacy/" class="p-2">Privacy</a></li>
            </ul>
        </nav>
        <div class="my-5">
            <a href="/" class="lg:text-3xl">kanae.dev</a>
        </div>
        <nav class="hidden lg:flex">
            <ul class="flex my-5 list-none">
                <li><a href="/" class="p-2">Home</a></li>
                <li><a href="/about/" class="p-2">About</a></li>
                <li><a href="/archives/" class="p-2">Archives</a></li>
                <li><a href="/tags/" class="p-2">Tags</a></li>
                <li><a href="/privacy/" class="p-2">Privacy</a></li>
            </ul>
        </nav>
    </div>
</header>