<header class="flex justify-between py-4 border-b">
    <a href="/">kanae.dev</a>
    <nav>
        <ul class="flex">
            <li><a href="/about/" class="py-1 px-2">About</a></li>
            <li><a href="/blog/" class="py-1 px-2">Blog</a></li>
            <li><a href="/privacy/" class="py-1 px-2">Privacy</a></li>
        </ul>
    </nav>
</header>
