<header class="container mx-auto px-4 lg:max-w-3xl">
    <nav class="py-6">
        <ul class="flex">
            <li><a href="/" class="p-3 border-0 font-normal"><i class="fas fa-home"></i></a></li>
            <li><a href="/about" class="p-3 border-0 font-normal">about</a></li>
            <li><a href="/blog" class="p-3 border-0 font-normal">posts</a></li>
        </ul>
    </nav>
</header>
