---
import Layout from './Layout.astro';

const { title } = Astro.props;
const { type } = Astro.props;
const { headerline } = Astro.props;

---

<Layout title={title} type={type}>
	<div class="mt-32">
		<h1 class="text-3xl font-semibold my-5">{headerline}</h1>
		<slot />
	</div>
</Layout>
