---
import Layout from './Layout.astro';

const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
	<main class="container mx-auto max-w-3xl p-16">
		<article>
			<header class="my-6">
				<h1 class="text-4xl mb-1">{frontmatter.title}</h1>
				<time class="text-sm">{new Date(frontmatter.date).toLocaleDateString()}</time>
			</header>
			<section class="pt-12">
				<slot />
			</section>
			<footer class="mt-16">
				<div>
					{frontmatter.tags.map((tag: any) => (
						<span class="text-sm">
							<a href={`/tags/${tag}`} class="py-1 px-2 border-solid border border-gray-700 rounded-md">{tag}</a>
						</span>
					))}
				</div>
			</footer>
		</article>
	</main>
</Layout>

<style is:global>
	h2, h3 {
		@apply mt-16;
	}

	h2 {
		@apply text-3xl;
	}

	h3 {
		@apply text-2xl;
	}

	p {
		@apply mt-9;
	}

	section a {
		@apply underline;
	}

	ul, ol, pre {
		@apply mt-3;
	}

	pre {
		@apply p-4;
	}

	article ul, ol {
		@apply pl-10;
	}

	article ul li {
		@apply list-disc;
	}

	article ol li {
		@apply list-decimal;
	}
</style>
